@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59020943#fontello') format('svg');
  }
}
*/
[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-search:before { content: '\e800'; } /* '' */
.fa-cancel:before { content: '\e801'; } /* '' */
.fa-clock-1:before { content: '\e802'; } /* '' */
.fa-mobile:before { content: '\e803'; } /* '' */
.fa-angle-right:before { content: '\f105'; } /* '' */
.fa-angle-up:before { content: '\f106'; } /* '' */
.fa-angle-down:before { content: '\f107'; } /* '' */
.fa-windows:before { content: '\f17a'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-commenting:before { content: '\f27a'; } /* '' */
.fa-user-circle:before { content: '\f2bd'; } /* '' */
.fa-user-circle-o:before { content: '\f2be'; } /* '' */  
.fa-heart:before { content: '\e804'; }
